<body style="background-color:#3E3D32">
<div style="text-align:center">
  <h1 style="color: whitesmoke">
    Welcome to {{ title }}
  </h1>
<hr/>
 </div>
<app-feed></app-feed>
<app-positions-table></app-positions-table>
<app-trade-stocks></app-trade-stocks>


<app-orders-table></app-orders-table>
<router-outlet></router-outlet>
</body>
