<div class="component">
<p style="text-align:center; color: whitesmoke">Strategies</p>
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)">
    <mat-placeholder style="color:whitesmoke; opacity:0.5">Search for Strategy</mat-placeholder>
</mat-form-field>
<div class="mat-elevation-z8 pane">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="#">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let position"> {{position.stratID}} </td>
    </ng-container>
  
    <ng-container matColumnDef="strategy">
        <th mat-header-cell *matHeaderCellDef>Strategy</th>
        <td mat-cell *matCellDef="let position"> {{position.strategy}} </td>
    </ng-container>
  
    <ng-container matColumnDef="stockCode">
        <th mat-header-cell *matHeaderCellDef>Stock</th>
        <td mat-cell *matCellDef="let position"> {{position.stockID.stockCode}} </td>
    </ng-container>

    <ng-container matColumnDef="volume">
      <th mat-header-cell *matHeaderCellDef>Stocks Per Trade</th>
      <td mat-cell *matCellDef="let position"> {{position.volume}} </td>
    </ng-container>

    <ng-container matColumnDef="PnL">
      <th mat-header-cell *matHeaderCellDef>PnL</th>
      <td mat-cell *matCellDef="let position"> {{position.PnL | number }} </td>
    </ng-container>

    <ng-container matColumnDef="ROI">
      <th mat-header-cell *matHeaderCellDef>ROI</th>
      <td mat-cell *matCellDef="let position"> {{position.ROI | number }} %</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let position">{{ position.status }}   </td>
    </ng-container>

    <ng-container matColumnDef="actionOnStrategy">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let position"> 
          <button *ngIf="position.active == true && position.sleepStatus == false" type="button" class="btn btn-danger" (click)="stopStrategy(position.stratID)" ><fa name="stop"></fa> Stop Strategy </button>              
          <button *ngIf="position.active != true && position.sleepStatus == false" type="button" class="btn btn-success" (click)="restartStrategy(position.stratID)" ><fa name="play"></fa> Restart Strategy </button>              
      </td>
    </ng-container>

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="5" showFirstLastButtons></mat-paginator>
</div>
</div>