<div class="modal-header">
        <h4 class="modal-title">Stop Executing Strategy</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
          <p>Strategy Ended</p>
     </div>

     <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="activeModal.close('Close click')">Ok</button>
        </div>