<div class="component" >
<p style="text-align:center; color: whitesmoke">Trade Stocks here</p>
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)">
    <mat-placeholder style="color:whitesmoke; opacity:0.5">Search for Stocks</mat-placeholder>
</mat-form-field>
<div class="mat-elevation-z8 pane">
<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="stockCode">
    <th mat-header-cell *matHeaderCellDef>Stock Code</th>
    <td mat-cell *matCellDef="let stock"> {{stock.stockCode}} </td>
  </ng-container>

  <ng-container matColumnDef="stockName">
      <th mat-header-cell *matHeaderCellDef>Stock Name</th>
      <td mat-cell *matCellDef="let stock"> {{stock.stockName}} </td>
  </ng-container>

  <ng-container matColumnDef="startStrategy">
      <th mat-header-cell *matHeaderCellDef>Trade</th>
      <td mat-cell *matCellDef="let stock"> <button type="button" class="btn btn-success" (click)="tradeStock(stock)"> <fa name="play"></fa> Start Trading</button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="5" showFirstLastButtons></mat-paginator>
</div>
</div>